<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="{%  static 'images/logo.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/slyle11.css' %}">
    <link rel="stylesheet" href="{%  static 'styles/responsive1.css' %}">
    <script src="{% static 'scripts/js.js' %}"></script>
    <title>А КУДА ПОСТУПАТЬ?</title>
</head>
<body style="background-image: url({% static 'images/FONlist.svg' %});
background-size: cover;">
  <header>
    <div class="logo-dop">
        <a href="/" class="logo">
            <img src="{% static 'images/logopostupat.svg' %}" alt="">
        </a>
        <p class="dop">РНД</p>
    </div>
    <div class="header-right">
        <form class="search-container" method="GET" action="{% url 'search' %}">
            <input type="text" id="search-bar" name="q" placeholder="Ищите что-то определенное?">
            <button class="search-button" type="submit">
                <img class="search-icon" src="{% static 'images/search-icon.png' %}">
            </button>
        </form>
    </div>
  </header>
  <main class="list-card">
    <button id="scrollToTopButton" style="display: none; position: fixed; bottom: 20px; right: 20px;">Наверх</button>
    {% for university in universities %}
        <div class="cartoch-list">
            <div class="osn-coctent-card">
                <p class="osn-nazv-list">{{ university.shortName }}</p>
                <p class="nazv-list">{{ university.name }}</p>
                <div class="plusi">
                    {% for plus in university.list_of_pluses.all %}
                    <div class="plus-list">
                        <img src="{% static 'images/Done.png' %}" alt="" class="plus-list-png">
                        <p class="plaus-list-words">{{ plus.name }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="foto">
                {% if university.image %}
                    <img class="fotoo" src="{{ university.image.url }}" alt="{{ university.name }}">
                {% else %}
                    <img class="fotoo" src="{% static 'images/FOTO.png' %}" alt="Заглушка">
                {% endif %}
            </div>
            <div class="parametr-card">
                <p class="par">
                    Бюджетных мест - {{ university.places }}
                </p>
                <p class="par">
                    Средний аттестат - {{ university.score }}
                </p>
                <p class="par">
                    Специальностей - {{ university.amount_of_specialities }}
                </p>
            </div>
            <div class="butt">
                <form action="/infzav/{{ university.name }}">
                    <button class='more'>
                        Узнать больше
                    </button>
                </form>
            </div>
        </div>
    {% empty %}
        <p>Результаты не найдены</p>
    {% endfor %}
</main>