@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body { 
  margin:0 15%;
  font-family: 'Mulish';
  background-image: url(../FONindex.svg);
  background-size: cover;
}


/*----------------------------------- HEADER -------------------------------------------------------------*/
.logo{
  width: 180px;
  height: 67px;
} 

.dop{
  font-weight: 200;
  font-size: 36px;
  margin: 23px 0 0 20px;
}

.logo-dop{
  display: flex;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 25px;
}

.header-right {
  float: right;
  display: inline;
  width: 290px;
  height: 25px;
} 


input#search-bar{
  margin: 0 auto;
  width: 290px;
  height: 30px;
  padding-top: 25px;
  font-size: 18px;
  border: none;
  border-bottom: 1px dashed;
  margin-bottom: -1px;
  background: none;
  opacity: 0.55;
  font-family: 'Mulish';
}

input#search-bar:focus{
  outline: none !important;
}

.search-icon{
  position: relative;
  float: right;
  width: 20px;
  height: 20px;
  top: -25px;
  right: 3px;
  opacity: 0.35;
}


/*-------------------------------------------------- MAIN --------------------------------------------------*/
main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inf{
  background-color: rgb(255 255 255 / 30%);
  backdrop-filter: blur(10px);
  text-align: center;
  font-size: 26px;
  font-weight: 400;
  width: 1000px;
  height: auto;
  border-radius: 70px;
}

.glav{
  font-weight: 600;
}
.inftext{
  margin: 30px 40px;
}

.smotrim{
  background-color: rgb(255 255 255 / 30%);
  backdrop-filter: blur(10px);
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  width: 360px;
  height: auto;
  border-radius: 70px;
  margin-top: 30px;
}
.smotrim-text{
  margin: 15px 25px;
}


/*--------------- стелка -------------------*/
.arrow {
  width: 80px;
  height: 82px;
  position: absolute; /* don't forget set container to relative */
  margin-top: -290px;
  z-index:999;
}
/* set arrow styles */
.arrow path {
  stroke: grey;
  stroke-width: 2px;
  fill: transparent;  
  animation: down 2s infinite;
}
/* arrow keyframe animation */
@keyframes down{
0% { opacity:0 }
25% { opacity:1 }
75% { opacity:0 }
100% { opacity:0 }
}

/* arrow animation delay */
.arrow path.a1{ animation-delay: -1s; }
.arrow path.a2{ animation-delay:-.5s; }
.arrow path.a3{ animation-delay: 0s; }


/*--------------------- карты --------------------*/
.cards-main{
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-bottom: 100px;
}

.cards-vibor{
  background-color: white;
  width: 420px;
  height: 525px;
  border-radius: 60px;
  margin-top: 150px;
  padding: 30px;
  transition: 0.25s;
  cursor: pointer;
}

.cards-vibor:hover{
  transform: scale(1.05);
}

.card-name{
  margin: 0;
  font-size: 40px;
  color: #8F79FF;
  font-weight: 700;
}

.card-zav{
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
}

.card-usl{
  font-weight: 700;
  font-size: 18.75px;
  line-height: 20px;
  margin: 10px 0px;
}






 /* @media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}   */